{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class='row starter-template'>
    <div class='container'>

                    <form method="POST" action="/">
                        <input type="hidden" name="lat" id='lat'>
                        <input type="hidden" name="lon" id="lon">
                        <input type="hidden" name="positive" value="True">
                        <button type="submit" class="btn btn-primary btn-lg">I like this weather</button>
                    </form>                
            <br/>
                    <form method="POST" action="/">
                        <input type="hidden" name="lat" id='lat2'>
                        <input type="hidden" name="lon" id="lon2">
                        <input type="hidden" name="positive" value="">
                        <button type="submit" class="btn btn-secondary btn-lg">I don't like this weather</button>
                    </form>
            
 

        
    </div><p id="error"></p>
        
        
</div>

<script>
    var e = document.getElementById("error");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
        e.innerHTML = "Geolocation is not supported by this browser.";      
        }
    }

    function showPosition(position) {
        document.getElementById('lat').value=position.coords.latitude
        document.getElementById('lon').value=position.coords.longitude
        document.getElementById('lat2').value=position.coords.latitude
        document.getElementById('lon2').value=position.coords.longitude
    }
</script>
{% endblock %}